.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 16px;
    padding-left: 16px;
    width: 460px;
    height: 600px;
    background-color: white;
    box-sizing: border-box;
    margin: 0;
    font-family: BrandonText,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    box-sizing: border-box;
    padding-right: 16px;
    padding-left: 16px;
    border-bottom: 1px solid lightgray;
}

.signup-input {
    margin-bottom: 8px;
    padding: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
    border-image: initial;
    border-radius: 3px;
    font-weight: 600;
    font-size: 0.875rem;
    outline: 0px;
}


input[type="submit"] {
    border: 0;
    border-radius: 3px;
    background: none;
    padding: 16px;
    background-color: #da3743;
    color: #fff;
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 16px;
}

.form-cta {
    height: 60;
    width: 428;
}

.cta-welcome {
    font-size: 24px;
    font-weight: 320;
    font-family: BrandonText,"Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 8px;
    border-bottom: 1px solid lightgray;
}

.cta-demo-header {
    font-weight: 320;
    font-family: BrandonText,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font: #A3A3A3;
    font-weight: 400px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
}


.cta-demo {
    font-weight: 320;
    font-family: BrandonText,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font: #A3A3A3;
    font-weight: 400px;
    padding-left: 16px;
    padding-right: 16px;
    height: 64px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.demo-button {
    background-color: white;
    color: black;
    border: 2px solid lightgrey;
    border-radius: 2px;
    padding: 8px;
    height: 40px;
}

.cta-legal {
    font-weight: 320;
    font-family: BrandonText,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font: #A3A3A3;
    font-weight: 400px;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
 }

.cta-end {
    width: 428px;
    height: 28px;
}

