.nav-bar {
    display: flex;
    padding: 16px;
    justify-content: space-between;
}

.nav-bar-heading {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 100%;
    font-weight: 500;
    font-style: normal;
}

.user-bar-container {
    display: flex;
}

.user-bar-button {
    padding: 8px;
    border-radius: 3px;
    margin-left: 8px;

    a {
        color: black;
    }
}

.secondary {
    background-color: #237b98;
    a {
        color: #fff;
    }
}

.user-bar-name {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 100%;
    font-weight: 500;
}

a:link {
    text-decoration: none
}