.nav-bar {
    display: flex;
    padding: 16px;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    border-top: 28px solid #f7f7f7;

    .icon {
        margin-right: 12px;
        margin-left: 18px;
        color: #da3743;
    }


    a:visited {
        color: black;
    }
}

.nav-bar-heading {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 100%;
    font-size: 20px;
    font-weight: 900;
    font-style: normal;
    font: #333333;
}

.nav-bar-heading-text {
    opacity: 0.7;
}

.user-bar-container {
    display: flex;
    align-content: center;
    padding-left: 8px;
    padding-right: 8px;
}

.user-bar-button {
    padding: 8px;
    border-radius: 3px;
    margin-left: 8px;
    border-color: white;
    font-size: 14px;
    font-weight: 600px;

    a:visited {
        color: black;
    }

    a {
        color: black;
    }
}

.secondary {
    background-color: #237b98;
    a {
        color: #fff;
    }
    a:visited {
        color: #fff;
    }
}

.user-bar-name {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 600px;
    padding: 8px;
    border-radius: 3px;
    margin-left: 8px;
    border-color: white;
    align-content: center;
    display: flex;  
    opacity: 0.7;
}

.user-bar-name-span {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 600px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    padding-left: 0px;
    border-radius: 3px;
    margin-left: 8px;
    border-color: white;
}

a:link {
    text-decoration: none
}


.dropdown {
    display: flex;
    float: left;
    overflow: hidden;
    padding: 0;
    border: none;
    background-color: none;
  }



.dropdown-content {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    max-width: 100px;
    right: 0;
    top: 85px;
    border-radius: 3px;
  }

  .calendar {
      right: 100px;
      
  }
  

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

.dropdown-content a:hover {
    background-color: #ddd;
  }

.dropdown:hover {
    cursor: pointer;
}
.dropbtn, .dropbtn-dashboard {
    align-content: center;
    padding-right: 16px;
    border-bottom: none;
    border-left: none;
    border-top: none;
    border-right: 1px solid lightgray;
    background-color: white;
    // opacity: 0.9;
}

.dropbtn-dashboard {
    border-right: none;
    opacity: 0.7px;
}