// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .reservation-form-container {
//     width: 640px;
//     height: 455px;
//     padding-left: 16px;
//     padding-right: 16px;
//     display: flex;
//     flex-direction: column;
//     border: 1px solid #d8d9db;
// }

// .reservation-form-header {
//     font-size: 21px;
//     font-weight: 700;
//     line-height: 24px;
//     font-family: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
//     border-bottom: 1px solid #d8d9db;
//     text-align: center;
//     align-content: center;
//     padding-top: 12px;
//     padding-bottom: 12px;
// }

// .party-size {
//     padding-top: 16px 8px;
//     margin: 12px 0;
//     font-family: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
//     padding-bottom: .25rem;
//     font-size: 18px;
//     font-weight: 700;
//     line-height: 24px;
// }


// .time-slot-parent {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-evenly;
//     padding: 18px;
// }

// .time-slot-button {
//     padding: 4px 6px;
//     border-radius: 3px;
//     background-color: #D73946;
//     color: white;
//     font-weight: 500;
//     margin: 12px;
//     font-size: 14px;
// }

// .time-slot-button:hover {
//     cursor: pointer;
//     opacity: 0.7;
// }

.time-slot-button-selected {
    opacity: 0.7
}
// .reservation-form-body {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

// .select-a-time {
//     font-family: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
//     font-size: 18px;
//     font-weight: 700;
//     line-height: 24px;
//     text-align: center;
// }

// .submit-button-input {
//     text-align: center;
//     border: 0;
//     border-radius: 2px;
//     background: none;
//     padding: 4px 46px !important;
//     height: 100% !important;
//     background-color: #da3743;
//     color: #fff;
//     font-size: 12px;
//     font-weight: 400;
//     margin-bottom: 16px;
//     cursor: pointer;
//     min-width: 72px;
//     height: 32px;
//     align-items: center;
//     font-family: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    
// }

.res-container-wrapper {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background: #f7f7f7;
    display: flex;
}

.sidebar-container {
    font-family: BrandonText,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 100%;
    font-weight: 500;
    font-style: normal;
    color: #999;
    line-height: 1;
    position: relative;
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding-bottom: 16px;
    padding-top: 30px;
    // justify-content: center;
    // padding: 20px;
}

.sidebar-nav {
    padding-left:32px;
    display: flex;
    flex-direction: column;
}

.sidebar-item {
    background-color:rgba(0, 0, 0, 0);
    box-sizing:border-box;
    color:rgb(51, 51, 51);
    cursor:pointer;
    display:block;
    font-family:BrandonText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:16px;
    font-style:normal;
    font-weight:700;
    margin-top:8px;
    outline-color:rgba(0, 0, 0, 0);
    outline-offset:-2px;
    outline-style:solid;
    outline-width:2px;
    padding-bottom:8px;
    padding-left:8px;
    padding-right:8px;
    padding-top:8px;
    text-align:left;
    text-decoration-color:rgb(51, 51, 51);
    text-decoration-line:none;
    text-decoration-style:solid;
}

.reservation-container {
    width: 80%;
}

.reservation-block {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0,0,0,.1);
    background: #fff;
    margin-bottom: 0;
}

.reservation-header {
    border-bottom: 1px solid rgba(0,0,0,.08);
    padding: 24px;
    margin: 0;
    position: relative;
    font-family: BrandonText,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 16px;
}

.reservation-item {
    border-bottom: 1px solid rgba(0,0,0,.08);
    margin: 0;
    min-height: 175px;
    padding: 0px 24px 16px 24px;
}

.reservation-item-wrapper {
    padding-bottom: 16px;
    padding-top: 16px;
    display: flex;
    min-height: 80px;
    z-index: 0;
}

.reservation-photo {
    border-radius: 5px;
    overflow: hidden;
    width:80px;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: transparent;
}

.reservation-body {

}

.reservation-name {
    background-color: transparent;
    color: #333;
    font-family:BrandonText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:16px;
    font-style:normal;
    font-weight:500;
    height:28px;
    margin-right:64px;
    max-width:352px;
    overflow: hidden;
    padding-top:4px;
    text-decoration: none;
    text-overflow:ellipsis;
    text-size-adjust:100%;
    white-space:nowrap;
}

.reservation-date {
    color: #666666;    
    font-family:BrandonText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:16px;
    font-style:normal;
    font-weight:500;
    margin: 0;
    // padding-top: 4px;
    padding-bottom: 4px;
}

.reservation-info {
    color: #666666;    
    font-family:BrandonText, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:14px;
    font-style:normal;
    font-weight:500;
    // padding-top: 2px;
    padding-bottom: 2px;
}

.modify-button {
    color: #da3743;
    text-decoration: none;
    background-color: transparent;
    padding-top: 2px;
}
