.results-main-container {
    display: flex;
    padding-left: 130px;
    padding-right: 130px;

    .filters-container {
        flex: 25%;
    }

    .search-results-container {
        flex: 80%;
    }
}

.filters-inner-container {
    display: flex;
    flex-direction: column;
}

.filter-container {
    font-weight: 400;
    padding: 8px;
    color: #333;
    // font-family: BrandonText,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.search-results-inner-container {
    padding: 12px;
}

.filter-title {
    font-weight: 800;
    font-size: 18px;
    padding-bottom: 8px;
    padding-left: 4px;
    color: #da3743;
    
}

.filter-icon {
    margin-right: 4px;
}

.filter-label {
    margin-left: 4px;
}

.filter-component {
    margin-bottom: 4px;
}

.filtered-result-container {
    margin-bottom: 16px;
    font-family: BrandonText,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    border-bottom: 1px solid lightgray;
    padding: 20px;
    padding-bottom: 24px;
}

.filtered-result-head {
    font-size: 18px;
    color:#247F9D;
    font-weight: 700;
    margin-bottom: 12px;
    line-height: 24px;


    a:visited {
        color:#247F9D;
        text-decoration: none;
    }

    a:link {
        color:#247F9D;
        text-decoration: none
    }

    a:active {
        color:#247F9D;
        text-decoration: none;
    }

}