.search-control {
    background-image: url(//media.otstatic.com/search-result-node/images/patterns/woodgrain-dark.7b6a1e98.png);
    background-color: #f1f2f4;
    position: relative;
    color: #666;
    line-height: 1.2rem;
}

.search-wrapper {
    height: 80px;
    max-width: 100%;
    width: 100%;
    position: relative;
}

.page-header-content {
    padding: 1rem 0;
    padding-bottom: 16px!important;
    margin: 0 auto;
    max-width: 61rem;
}

.results-main-container {
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    padding-left: 130px;
    padding-right: 130px;
    max-width: 100rem;

    // .filters-container {
    //     flex: 25%;
    // }

    // .search-results-container {
    //     flex: 80%;
    // }
}

.filters-bar {
    display: flex;
    flex-direction: column;
    border: none;
    position: relative;
    z-index: 15;
    max-width: 100rem;
    width: 14rem;
    padding-top: 24px;
}

.filters-wrapper {
    height: 1281px;
    max-width: 100%;
    transform: translate3d(0,0,0);
    will-change: position,transform;
    position: relative;
}

.row {
    max-width: 80rem;
    margin: 0 auto;
    width: 100%;
}

.column {
    padding-left: 16px;
    padding-right: 1rem;
    float: left;
    position: relative;
    width: 100%;
}

// .search-filters {

// }

.filters-list {
    float: none;
    list-style: none;
}

.filter-option-prices {
    border-top: none;
    width: 100%;
    padding-top: 0!important;
    position: relative;
    list-style: none;
    padding-bottom: 16px;
}

.price-band-filter {
    padding: 8px 0!important;
    pointer-events: none;
    position: relative;
    color: #666;
    display: block;
}

.price-icon {
    height: 1rem;
    width: 1rem;
    display: inline-block;
    position: relative;
    vertical-align: top;
    pointer-events: none;
    // color: #666;
}

.price-text {
    margin-top: .8rem;
    font-size: 16px;
    color: #2d333f!important;
    font-weight: 700!important;
    text-transform: capitalize!important;
    padding-left: 4px;
}

.price-band-menu {
    padding: 0;
    margin-top: 5px;
    position: relative;
    z-index: 100;
    width: 100%;
    top: 90%;
    left: 0;
    color: #333;
    font-family: BrandonText,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 14px;
    line-height: 1;
    font-style: normal;
    font-weight: 400;
}

.filter-option-neighborhood {
    border-top: 1px solid rgba(0,0,0,.08);
    display: block;
    padding-top: 0!important;
    padding-bottom: 16px;
}


// .filter-container {
//     font-weight: 400;
//     padding: 8px;
//     color: #333;
//     // font-family: BrandonText,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
// }

.search-result-container {
    flex-shrink: 1;
    width: 75%;
}

.search-result-wrapper {
    background-color: #fff;

}

.search-row {
    border-bottom: none;
    margin: 0;
    max-width: none;
    width: 100%;
}

.search-column {
    padding: 16px 16px 0!important;
    float: left;
    position: relative;
}

.filtered-result-container {
    // margin-bottom: 16px;
    // font-family: BrandonText,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    // border-bottom: 1px solid lightgray;
    // padding: 20px;
    // padding-bottom: 24px;
    // max-width: 50em;

    padding: 0 16px;
    max-width: 100%;
    height: 100%;
    min-height: 11.75rem;
    position: relative;
}

.filtered-result-header {
    padding: 0 0 8px;
  
    // font-size: 18px;
    // color:#247F9D;
    // font-weight: 700;
    // margin-bottom: 12px;
    // line-height: 24px;

    // a:visited {
    //     color:#247F9D;
    //     text-decoration: none;
    // }

    // a:link {
    //     color:#247F9D;
    //     text-decoration: none
    // }

    // a:active {
    //     color:#247F9D;
    //     text-decoration: none;
    // }

}

.filtered-result-header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 16px;
    padding-bottom: 16px;
}

.filtered-result-header-title {
    color: #2d333f;
    font-size: .9rem;
    line-height: 1.3rem;
    padding-right: 5px;
    margin-top: 0;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
}

.sort-view-filter {
    margin-top: 9px;
    display: flex;
    flex-shrink: 0;
    white-space: nowrap;
}

.sort-filters {
    float: right!important;
}

.sort-dropdown {
    display: inline-block;
    position: relative;
    // z-index: 10;
    padding-right: 3px;
    min-width: 220px;
    line-height: normal;
    color: #000;
    position: relative;
    display: block;
    z-index: 1;
    border: 2px solid rgba(0,0,0,.12);
    border-radius: 1px;
    padding: .5rem 2.5rem .6rem .7rem;
    background-color: #fff;
    font-size: 14px;
    // cursor: pointer;
    white-space: normal;
    font-weight: 600;
    height: 35px;
    padding: 0px;
    text-align: center;
}

.clear-filter-button {
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
}

.content-section-header {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.content-section-bar {
    flex-grow: 1;
    border-top: 1px solid #f1f2f4;
    margin-right: 8px;
}

// .content-section {

// }

.content-section-list {
    border-top: none;
    border-bottom: 1px solid #d8d9db;
    padding: .875rem 0;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;

}

.rest-row {
    padding: 0;
    display: flex;
    align-items: flex-start;
    min-width: 35%;
    position: relative;
    width: 100%;
    min-height: 5rem;
    line-height: 1.2em;
    display: flex;
    // flex-direction: column;

    border-top: none;
    border-bottom: 1px solid #d8d9db;
    padding: .875rem 0;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;

}

.rest-row-img {
    // background-image: url(//resizer.otstatic.com/v2/profiles/legacy/51673.jpg);
    
    width: 37%;
    max-width: 13rem;
    max-height: 100%;
    display: inline-block;
    float: left;
    min-height: 0;
    min-width: 0;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 1;
}

.rest-row-info {
    padding-left: 16px;
    line-height: 20px;
    float: none;
    width: 100%;
    display: inline-block;
    min-height: 0;
    min-width: 0;
    position: relative;
    z-index: auto;   
}

.rest-name {
    color: #247f9e;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    white-space: normal;
    font-family: BrandonText,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    
}


.date-dropdown-search {
    cursor: pointer;
    border: none;
    // border-right: none;
    position: relative;
    height: 90%;
    width: 100%;
    box-sizing: border-box;
    // border-bottom: 1px solid #d8d9db;
    outline: none;
    // border-top: none;
    // border-left: none;
    background-image: url(https://components.otstatic.com/components/dtp/1.8.4/img/date-picker.svg);
    background-repeat: no-repeat;
    background-position-y: center;

    color: rgb(51, 51, 51);

    font-family: BrandonText,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
   
    line-height: 19.2px;
    // padding-bottom: 13px;
    padding-left: 28px;
    // padding-right: 32px;
    // padding-top: 36px;
    // position: relative;

    text-align: left;
    text-decoration-color: rgb(51, 51, 51);
    text-decoration-line: none;
    text-decoration-style: solid;
    white-space: nowrap;
    z-index: 1;
} 