.splash-body-container {
    background: white;
    min-height: 500px;
    width: 100%;
    background-attachment: scroll;
    background-clip: border-box;
    background-color:rgb(255, 255, 255); 
    position: relative;
}

.page-header {
    background: white;
    background-attachment: scroll;
    background-clip: border-box;
    background-color:rgb(255, 255, 255); 
    position: relative;
    border-bottom-color: rgba(0, 0, 0, 0.08);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: rgb(102, 102, 102);
    margin: 0px;
    padding: 0px;
   
    width: 100%;

}

.page-header-hero {
    background-image: url(https://resizer.otstatic.com/v2/photos/wide-huge/25161502.jpg);
    background-position-x: 100%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(102, 102, 102);
    width: 100%;
    height: 416px; 
    margin: 0px;
    opacity: 1;
    padding: 0px;
    position: static;
}

.page-header-hero::before {
    background-image: url(https://resizer.otstatic.com/v2/photos/wide-huge/25160669.jpg);
    animation-name: rotate-layer2;

    animation-iteration-count: infinite;
    animation-duration: 18s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    content: ' ';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    // opacity: 0;
}

.page-header-hero::before {
    background-image: url(https://resizer.otstatic.com/v2/photos/wide-huge/25161502.jpg);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: static;
    opacity: 1;
}

.page-header-hero::after {
    background-image: url(https://resizer.otstatic.com/v2/photos/wide-huge/25160340.jpg);
    animation-name: rotate-layer3;

    animation-iteration-count: infinite;
    animation-duration: 18s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    content: ' ';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    opacity: 0;
}

// .page-header-hero::after {
//     background-image: url(https://resizer.otstatic.com/v2/photos/wide-huge/25161502.jpg);
//     background-position: 100%;
//     background-repeat: no-repeat;
//     background-size: cover;
//     position: static;
//     opacity: 1;
//     animation-name: rotate-layer3;
// }


@keyframes rotate-layer2 {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes rotate-layer3 {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}

.content-block {
    align-items: center;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(47,45,65,.7);
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    border-bottom-color: rgb(51, 51, 51);
    // border-bottom-left-radius: 5px;
    // border-bottom-right-radius: 5px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1; 

    border-left-color: rgb(51, 51, 51);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(51, 51, 51);
    border-right-style: none;
    border-right-width: 0px;

    border-top-color: rgb(51, 51, 51);
    // border-top-left-radius: 5px;
    // border-top-right-radius: 5px;
    border-top-style: none;
    border-top-width: 0px;

    box-shadow: 0 1px 6px 2px rgba(45,51,63,.1);
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: flex;
    flex-direction: column;
    height: 416px;
    width: 100%;
    justify-content: space-evenly;
    margin: 0px;
    padding: 0px;
    position: relative;
    // visibility: hidden;
    z-index: 1;
}

.dtp-title {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    font-family: BrandonText,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19.2px;
    margin: 0px;
    padding: 0px;
}

.content-block-header {
    color: rgb(51, 51, 51);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19.2px;
    margin: 0px;
    padding: 0px;
    position: relative;
    align-content: center;
}

.page-header-title {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: BrandonText,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    margin-block-end: 24px;
    margin-block-start: 0px;
    margin-bottom: 24px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding: 0px;
    text-align: center;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    display: table;
}

.content-block-body {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    margin: 0px;
    padding: 0px;
    position: relative;

}

.dtp-picker {
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    margin: 0px;
    padding: 0px;
    position: relative;

}

.dtp-picker-form {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: flex;
    flex-direction: row;
    justify-content: center;
    line-height: 19.2px;
    margin: 0px auto;
    max-width: none;
    padding: 0px;

}

.dtp-picker-selectors-container {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: flex;
    font-family: BrandonText,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19.2;
    margin: 0px;
    min-width: 480px;
    padding: 0px;

}

.dtp-party-size {
    align-items: center;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(255, 255, 255);
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;

    border-bottom-color: rgba(0, 0, 0, 0.08);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;

    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;


    border-left-color: rgba(0, 0, 0, 0.08);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgba(0, 0, 0, 0.08);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgba(0, 0, 0, 0.08);
    border-top-left-radius: 0px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;

    color: rgb(51, 51, 51);
    display: flex;
    flex-basis: 33.3%;
    flex-direction: row-reverse;
    float: none;

    font-family: BrandonText,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    height: 48px;
    justify-content: flex-end;
    line-height: 20.02px;
    margin: 0px;
    order: 3;
    padding-bottom: 0px;
    padding-left: 8px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;

    transition-delay: 0s;
    transition-duration: 0.15s;
    transition-property: border-color;
    transition-timing-function: ease-in-out;

    background-image: url(https://components.otstatic.com/components/dtp/1.8.4/img/party-size-picker.svg);
    background-repeat: no-repeat;
    // background-size: contain;
}

.select-label-party {
    background-color: rgba(0, 0, 0, 0) transparent;
    border-bottom-color:rgb(51, 51, 51);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-style: none;
    border-bottom-width: 0px;

    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;

    border-left-color: rgb(51, 51, 51);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(51, 51, 51);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(51, 51, 51);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(51, 51, 51);

    font-family: BrandonText,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    height: 45px;
    line-height: 19.2px;
    padding-bottom: 13px;
    padding-left: 8px;
    padding-right: 32px;
    padding-top: 13px;
    position: relative;

    text-align: left;
    text-decoration-color: rgb(51, 51, 51);
    text-decoration-line: none;
    text-decoration-style: solid;
    white-space: nowrap;
    z-index: 1;

    cursor: pointer;
    display: block;
    position: relative;
}

.angle-icon {
    padding-left: 16px; 
}

.party-dropdown {
   background-color: rgb(255, 255, 255);
   border-bottom-color: rgb(166, 166, 166);
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
   border-bottom-style: solid;
   border-bottom-width: 1px;

   border-image-outset: 0px;
   border-image-repeat: stretch;
   border-image-slice: 100%;
   border-image-source: none;
   border-image-width: 1;

   border-left-color: rgb(166, 166, 166);
   border-left-style: solid;
   border-left-width: 1px;
   border-right-color: rgb(166, 166, 166);
   border-right-style: solid;
   border-right-width: 1px;
   border-top-color: rgb(166, 166, 166);
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
   border-top-style: solid;
   border-top-width: 1px;
   box-sizing: border-box;

   color: rgb(51, 51, 51);
   cursor: pointer;
   font-family: BrandonText,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    height: 46px;
    line-height: 20.02px;
    margin: 0px;
    opacity: 0;
    position: absolute;
    text-transform: none;
    top: 0px;
    width: 100%;
    z-index: 2;
}

.dtp-date-picker {
    align-items: center;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(255, 255, 255);
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;


    border-bottom-color: rgba(0, 0, 0, 0.08);
    border-bottom-left-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;

    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;


    border-left-color: rgba(0, 0, 0, 0.08);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgba(0, 0, 0, 0.08);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgba(0, 0, 0, 0.08);
    border-top-left-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;

    color: rgb(51, 51, 51);
    display: flex;
    flex-basis: 33.3%;
    flex-direction: row-reverse;
    float: none;

    font-family: BrandonText,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    height: 48px;
    justify-content: flex-end;
    line-height: 20.02px;
    margin: 0px;
    order: 1;
    padding-bottom: 0px;
    padding-left: 8px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;

    transition-delay: 0s;
    transition-duration: 0.15s;
    transition-property: border-color;
    transition-timing-function: ease-in-out;

    background-image: url(https://components.otstatic.com/components/dtp/1.8.4/img/date-picker.svg);
    background-repeat: no-repeat;
}

.dtp-time-picker {
    align-items: center;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(255, 255, 255);
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;


    border-bottom-color: rgba(0, 0, 0, 0.08);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-style: solid;
    border-bottom-width: 1px;

    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;


    border-left-color: rgba(0, 0, 0, 0.08);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgba(0, 0, 0, 0.08);
    border-right-style: solid;
    border-right-width: 0px;
    border-top-color: rgba(0, 0, 0, 0.08);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;

    color: rgb(51, 51, 51);
    display: flex;
    flex-basis: 33.3%;
    flex-direction: row-reverse;
    float: none;

    font-family: BrandonText,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    height: 48px;
    justify-content: flex-end;
    line-height: 20.02px;
    margin: 0px;
    order: 2;
    padding-bottom: 0px;
    padding-left: 8px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;

    transition-delay: 0s;
    transition-duration: 0.15s;
    transition-property: border-color;
    transition-timing-function: ease-in-out;

    background-image: url(https://components.otstatic.com/components/dtp/1.8.4/img/time-picker.svg);
    background-repeat: no-repeat;
}


.dtp-picker-search-container {
    align-items: center;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(255, 255, 255);
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;

    border-bottom-color: rgba(0, 0, 0, 0.08);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;

    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;

    border-left-color: rgba(0, 0, 0, 0.08);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgba(0, 0, 0, 0.08);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgba(0, 0, 0, 0.08);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;

    box-sizing: border-box;
    clear: none;
    color: rgb(51, 51, 51);
    display: flex;
    flex-shrink: 0;
    float: none;

    font-family: BrandonText,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    height: 48px;
    line-height: 19.2;
    margin-bottom: 0px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 0px;
    padding: 0px;
    position: relative;

    transition-delay: 0s;
    transition-duration: 0.15s;
    transition-property: border-color;
    transition-timing-function: ease-in-out;
    width: 290px;

    background-image: url(https://components.otstatic.com/components/dtp/1.8.4/img/dtp-picker-search-icon.svg);
    background-repeat: no-repeat;
}

.dtp-picker-button {
    align-items: flex-start;
    background-color: rgb(218, 55, 67);
    border-bottom-color: rgb(184, 34, 45);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 0px;

    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;

    border-left-color: rgb(184, 34, 45);
    border-left-style: solid;
    border-left-width: 0px;
    border-right-color:  rgb(184, 34, 45);
    border-right-style: solid;
    border-right-width: 0px;
    border-top-color:  rgb(184, 34, 45);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 0px;
    box-sizing: border-box;

    clear: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    float: none;

    font-family: BrandonText,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 700;
    height: 48px;

    // letter-spacing: normal;
    line-height: 1.5rem;
    margin: 0px;
    outline-color: rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 0px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0px;
    position: relative;

    text-align: center;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    text-size-adjust: 100%;
    text-transform: none;
    
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: background-color;
    transition-timing-function: ease-out;
    width: 144px;
    writing-mode: horizontal-tb;


}

.page-wrapper {
    box-sizing: border-box;
    margin: auto;
    max-width: 64rem;
    position: relative;
    padding: 0px;
    display: block;

}

.page-main {
    position: relative;
    height: 100%;
    margin: 0px;
    padding: 0px;
   
}

.page-main-content {
    box-sizing: border-box;
    margin: 0px;
    padding-bottom: 16px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 0px;
    position: relative;
}

.row-page-content {
    box-sizing: border-box;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    max-width: 1280px;
    width: 100%;
    padding: 0px;
    position: relative;
    top: 0px;

}

.column-page-content {
    float: left;
    margin: 0px;
    padding-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0px;
    position: relative;
    width: 100%;
}

#react-root {
    margin: 0px;
    padding: 0px;
}

.bar {
    margin-bottom: 32px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding: 0px;
}

.bar-subbar {
    border-bottom-color: rgb(216, 217, 219);
    border-bottom-style: solid;
    border-bottom-width: 1px;

    font-family: BrandonText,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;

    height: 24px;
    line-height: 20px;
    margin: 0px;
    opacity: 1;
    padding-bottom: 16px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 16px;

    transition-delay: 4s, 4.5s, 4.5s, 4.5s, 5s;
    transition-duration: 0.5s, 0.5s, 0.5s, 0.5s, 0s;
    transition-property: opacity, height, padding-bottom, padding-top, border-bottom;
    transition-timing-function:  ease, ease, ease, ease, ease;
    transition: opacity .5s 4s,height .5s 4.5s,padding-bottom .5s 4.5s,padding-top .5s 4.5s,border-bottom 0s 5s;
}

.popular-restaurant-bar {
    align-items: flex-end;
    border-bottom-color: rgb(216, 217, 219);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: flex;

    font-family: BrandonText,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    justify-content: space-between;
    line-height: 16px;
    margin-bottom: 16px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 16px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;

}

.popular-restaurant-bar-title {
    font-family: BrandonText,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    margin: 0px;
    padding: 0px;
    width: 66%;
    // height: 35px;
}

.popular-restaurant-heading {
    color: rgb(45, 51, 63);
    font-family: BrandonText,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    margin-block-end: 3.2px;
    margin-block-start: 0px;
    margin-bottom: 3.2px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding: 0px;
    text-rendering: optimizeLegibility;
  
}

.view-all-bar {
    color: rgb(111, 115, 123);
    display: flex;
    flex-direction: row-reverse;
    font-family: BrandonText,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    white-space: nowrap;
}

.view-all {
    background-color: rgba(0, 0, 0, 0) transparent;
    color: rgb(218, 55, 67);
    cursor: pointer;
    font-family: BrandonText,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    text-decoration-color: rgb(218, 55, 67);
    text-decoration-line: none;
    text-decoration-style: solid;
    white-space: nowrap;

}

.popular-restaurant-body {
    margin: 0px;
    padding: 0px;
}

.popular-restaurant-main-container {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 48px;
    margin-left: 0px;
    position: relative;
    padding: 0px;
}

.popular-restaurant-main {
    white-space: nowrap;
    overflow-x: auto;
    margin: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 8px;
}

.popular-restaurant-list {
    display: flex;
    margin: 0px;
    padding: 0px;
    white-space: nowrap;

    transition: transform 0.8s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    transition-property: transform;
    transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    transition-delay: 0s;
}

.popular-restaurant-list-item {
    margin-top: 0px;
    margin-right: 8px;
    margin-bottom: 0px;
    margin-left: 8px;
    padding: 0px;
    white-space: nowrap;
}

.popular-restaurant-list-item-first {
    margin-top: 0px;
    margin-right: 8px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0px;
    white-space: nowrap;
}

.popular-restaurant-list-item-last {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 8px;
    padding: 0px;
    white-space: nowrap;
}

.popular-restaurant-list-item-content {
    border: 1px solid #d8d9db;
    border-radius: 4px;
    width: 236px;
    position: relative;
    overflow: hidden;
    box-sizing: content-box;
    cursor: pointer;
    margin: 0px;
    padding: 0px;

    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease;

}

.absinthe-head {
    background-image: url(https://resizer.otstatic.com/v2/photos/medium/23679902.jpg);
    height: 132px;
    background-position: center;
    background-size: cover;
    transition: transform .3s,-webkit-transform .3s;
}

.flour-head {
    background-image: url(https://resizer.otstatic.com/v2/photos/medium/25161496.jpg);
    height: 132px;
    background-position: center;
    background-size: cover;
    transition: transform .3s,-webkit-transform .3s;
}

.cala-head {
    background-image: url(https://resizer.otstatic.com/v2/photos/medium/25110695.jpg);
    height: 132px;
    background-position: center;
    background-size: cover;
    transition: transform .3s,-webkit-transform .3s;
}

.le-head {
    background-image: url(https://resizer.otstatic.com/v2/photos/medium/23892881.jpg);
    height: 132px;
    background-position: center;
    background-size: cover;
    transition: transform .3s,-webkit-transform .3s;
}

.absinthe-body {
    padding: .5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: initial;
    position: relative;
    background-color: #fff;

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

}

.absinthe-body-name {
    color: #2d333f;

    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: .25rem;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-rendering: optimizeLegibility;
    padding: 0px;
}

.absinthe-body-attributes {
    margin: 0 0 .5rem;
    color: #2d333f;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 0px;
}

.absinthe-body-attributes-cuisine {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #2d333f;
}

.absinthe-body-attributes-dollars {
    margin-left: .25rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.absinthe-body-attributes-dollars-signs {
    color: #2d333f;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.absinthe-body-attributes-neighborhood {
    margin-left: .25rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #2d333f;
}

.absinthe-body-booked {
    color: #2d333f;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.absinthe-body-booked-body {
    display: flex;
    text-overflow: ellipsis;
    color: #2d333f;

    font-family: BrandonText,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 0px;
    padding: 0px;
    text-decoration-color: rgb(45, 51, 63);
    text-decoration-line: solid;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.absinthe-body-booked-text {
    align-self: center;
    margin: 0 0 0 .25rem;
    padding-left: 4px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: rgb(218, 55, 67);
}


.hero-container {
    height: 416px;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.background-image {
    width: 100%;
    opacity: 0.7;
    transition: ease-in-out;
    position: absolute;
    height: 100%;
    // z-index: 0;
    // background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
}

.location-icon {
    padding-left: 8px;
    opacity: 0.8;
}

.splash-main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 155px;
    padding-right: 155px;
    margin-top: 50px;
}

.splash-block-header {
    margin-bottom: 16px;
    border-bottom: 1px;
    padding-bottom: 16px; 
    border-bottom: 1px solid #d8d9db;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.splash-block-body {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    height: 250px;
    flex-wrap: wrap;
}

.splash-block {
    height: 330px;
    font-family: BrandonText,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 24px;
    font-weight: 700px;
    color: #2d333f;
    line-height: 32px;
    margin-top: 24px;
}

.splash-block2 {
    height: 284px;
    font-family: BrandonText,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 24px;
    font-weight: 700px;
    color: #2d333f;
    line-height: 32px;
    border: 1px solid black;
}

.splash-block3 {
    height: 400px;
    font-family: BrandonText,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 24px;
    font-weight: 700px;
    color: #2d333f;
    line-height: 32px;
    border: 1px solid black;
}

.splash-block-body-item {
    display: flex;
    border: 1px solid #d8d9db;
    border-radius: 4px;
    width: 236px;
    position: relative;
    overflow: hidden;
    transition: all .3s;
    box-sizing: content-box;
}

.splash-block-body-item2 {
    border: 1px solid #d8d9db;
    border-radius: 4px;
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    transition: all .3s;
    box-sizing: content-box;
}


.splash-block-body-item-content {
    padding: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: .5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: initial;
    position: relative;
    background-color: #fff;
}


.splash-block-body3 {
    display: flex;
    flex-direction: column;
    height: 300px;
}

.splash-block-body-item3 {
    display: flex;
    width: 100%;
    height: 100%;
}

.splash-block-body-item-content3 {
    flex-grow: 1;
    width: 100%;
    height: 100%;  
    border: 1px solid #d8d9db;
    border-radius: 4px;
}

.window-image {
    object-fit: cover;
}

.search-bar {
    margin-top: 64px;

    // display: flex;
    // flex-direction: column;
    // color: white;
    
    z-index: 2;
    // width: 70%;
}
.hero-title {
    color: rgb(255, 255, 255);
    font-family: BrandonText,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    margin-block-end: 24px;
    margin-block-start: 0px;
    margin-bottom: 24px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    // padding: 24px;
   text-align: center;

}
.search-field {
    direction: ltr;
    display: block;
    font-family: BrandonText,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19.2px;
    padding-left: 8px;
    padding-top: 0px;
    text-decoration: none;
    border: none;

    // padding: 0.5rem 0 0.5rem 2.5rem;
    border-radius: 3px;
    // line-height: 2;
    // font-weight: 400;
    width: 450px;
    height: 90%;
}
.search-container {
    display: flex;
    justify-content: center;
}


.search-field-container {
    background-attachment: scroll; 
    background-clip: border-box;
    background-color: rgb(255, 255, 255);
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;

    align-items: center;
    border-bottom-color: rgba(0, 0, 0, 0.08);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgba(0, 0, 0, 0.08);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgba(0, 0, 0, 0.08);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    // border-top-style: solid;
    border-top-width: 1px;
    font-family: BrandonText,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    height: 48px;
    line-height: 19.2px;
    margin: 0px 24px 24px 0px;
    padding-left: 8px;
    padding-right: 8px;
    clear: none;
    color: rgb(51, 51, 51);
    transition-delay: 0s;
    transition-duration: 0.15s;
    transition-property: border-color;
    transition-timing-function: ease-in-out;

    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.search-matches-container {
    position: relative;
}
.search-matches {
    position: absolute;
    background-color: white;
    color: black;
    width: 100%;
    opacity: 0.9;
    border-radius: 3px;
    z-index: 2;
}
.search-result-match {
    padding: 8px;
}
.search-result-match:hover {
    opacity: 0.7;
    font-weight: 800;
    cursor: pointer;
}
.search-button {
    background-color: rgb(218, 55, 67);
    border-bottom-color: rgb(184, 34, 45);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-block-start-width: 0px;
    border-left-color: rgb(184, 34, 45);
    border-left-style: solid;
    border-left-width: 0px;
    border-right-color: rgb(184, 34, 45);
    border-right-style: solid;
    border-right-width: 0px;
    border-top-color: rgb(184, 34, 45);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 0px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 48px;
    letter-spacing: normal;
    font-family: BrandonText,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 24px;
    font-size: 16px;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 700;
    height: 48px;
    outline-color: rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    text-size-adjust: 100%;
    text-transform: none;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: background-color;
    transition-timing-function: ease-out;
    user-select: none;
    white-space: pre;
    width: 144px;
    word-spacing: 0px;
    writing-mode: horizontal-tb;

    // padding-top: 8px;
    // padding-bottom: 8px;
    // padding-left: 12px;
    // padding-right: 12px;
    // border-radius: 3px;
    // margin-left: 24px;
}